html {
  --white: #fff;
  --black: #000;

   /* brand color configurations are respectively in theme-en.css and theme-zh.css */

  --dark-1: #0F172A;
  --dark-2: #1E293B;
  --dark-3: #334155;
  --dark-4: #475569;
  --dark-5: #64748B;
  --dark-6: #94A3B8;
  --dark-7: #CBD5E1;

  --gray-1: #E2E8F0;
  --gray-2: #F1F5F9;
  --gray-3: #F8FAFC;

  --yellow-1: #D97706;
  --yellow-2: #F59E0B;
  --yellow-3: #FBBF24;
  --yellow-4: #FCD34D;
  --yellow-5: #FDE68A;
  --yellow-6: #FEF3C7;
  --yellow-7: #FFFBEB;

  --orange-1: #E1580E;
  --orange-2: #F27430;
  --orange-3: #F59460;
  --orange-4: #F8B490;
  --orange-5: #FBD5C0;
  --orange-6: #FDE5D8;
  --orange-7: #FFF0E9;

  --red-1: #E10E0E;
  --red-2: #F23030;
  --red-3: #F56060;
  --red-4: #F89090;
  --red-5: #FBC0C0;
  --red-6: #FEEBEB;
  --red-7: #FEF3F3;

  --purple-0: #171952;
  --purple-1: #5B21B6;
  --purple-2: #6D28D9;
  --purple-3: #8646F4;
  --purple-4: #A78BFA;
  --purple-5: #C4B5FD;
  --purple-6: #EDE9FE;
  --purple-7: #F5F3FF;

  --green-0: #283338;
  --green-1: #1A8245;
  --green-2: #22AD5C;
  --green-3: #2CD673;
  --green-4: #57DE8F;
  --green-5: #ACEFC8;
  --green-6: #D2F8E1;
  --green-7: #ECFEF3;

  --cyan-1: #0B76B7;
  --cyan-2: #01A9DB;
  --cyan-3: #18BFFF;
  --cyan-4: #77D1F3;
  --cyan-5: #D0F0FD;
  --cyan-6: #EAF9FF;

}
