html {
  --font-family: -apple-system, "PingFang SC", "Microsoft YaHei", "微软雅黑",
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  --brand-0: #2874ff;
  --brand-1: #2167e8;
  --brand-3: #699eff;
  --brand-4: #93b9ff;
  --brand-5: #d4e3ff;
  --brand-6: #e9f1ff;
  --brand-7: #f4f8ff;

  --default-font-color: var(--dark-1);

  --h1-font-size: 44px;
  --h1-line-height: 58px;
  --h1-font-weight: 600;
  --h1-letter-spacing: 0;

  --small-padding: 20px;
  --large-padding: 20px;

  --h2-font-size: 36px;
  --h2-line-height: 44px;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0;

  --h3-font-size: 28px;
  --h3-line-height: 36px;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0;

  --h4-font-size: 24px;
  --h4-line-height: 32px;
  --h4-font-weight: 600;
  --h4-letter-spacing: 0;

  --h5-font-size: 18px;
  --h5-line-height: 26px;
  --h5-font-weight: 600;
  --h5-letter-spacing: 0;

  --h6-font-size: 16px;
  --h6-line-height: 24px;
  --h6-font-weight: 600;
  --h6-letter-spacing: 0;

  --lead-font-size: 20px;
  --lead-line-height: 28px;
  --lead-font-weight: 400;
  --lead-letter-spacing: 0;

  --large-font-size: 18px;
  --large-line-height: 24px;
  --large-font-weight: 600;
  --large-letter-spacing: 0;

  --p-font-size: 16px;
  --p-line-height: 24px;
  --p-font-weight: 400;
  --p-letter-spacing: 0;

  --p-medium-font-size: 16px;
  --p-medium-line-height: 24px;
  --p-medium-font-weight: 500;
  --p-medium-letter-spacing: 0;

  --list-font-size: 14px;
  --list-line-height: 24px;
  --list-font-weight: 400;
  --list-letter-spacing: 0;

  --table-head-font-size: 12px;
  --table-head-line-height: 18px;
  --table-head-font-weight: 600;
  --table-head-letter-spacing: 0;

  --table-item-font-size: 12px;
  --table-item-line-height: 18px;
  --table-item-font-weight: 400;
  --table-item-letter-spacing: 0;

  --blockquote-font-size: 14px;
  --blockquote-line-height: 24px;
  --blockquote-font-weight: 400;
  --blockquote-letter-spacing: 0;

  --small-color: var(--dark-5);
  --small-font-size: 12px;
  --small-line-height: 20px;
  --small-font-weight: 400;
  --small-letter-spacing: 0;

  --small-medium-font-size: 12px;
  --small-medium-line-height: 20px;
  --small-medium-font-weight: 500;
  --small-medium-letter-spacing: 0;

  --subtle-font-size: 14px;
  --subtle-line-height: 20px;
  --subtle-font-weight: 400;
  --subtle-letter-spacing: 0;

  --subtle-medium-font-size: 14px;
  --subtle-medium-line-height: 20px;
  --subtle-medium-font-weight: 500;
  --subtle-medium-letter-spacing: 0;

  --subtle-semibold-font-size: 14px;
  --subtle-semibold-line-height: 20px;
  --subtle-semibold-font-weight: 600;
  --subtle-semibold-letter-spacing: 0;

  --link-font-size: 14px;
  --link-line-height: 20px;
  --link-font-weight: 400;
  --link-letter-spacing: 0;

  /* main color */
  --primary-color: #2874ff;
  --primary-sub-color: rgba(40, 116, 255, 0.6);
  --primary-color-active: #2167e8;
  --primary-color-hover: #73a5ff;
  --disabled-color: #e9edf2;
  /* status color */
  --success-color: #1fcc75;
  --success-color-bg: #1fcc751a;
  --success-color-sub: #1fcc754d;

  --error-color: #ff5959;
  --error-color-bg: #ff59591a;
  --error-color-sub: #ff59594d;

  --inactive-color: #a1a7b2;
  --inactive-color-bg: #a1a7b21a;
  --inactive-color-sub: #a1a7b24d;

  --init-color: #7e5ff8; /* for GPU/Serverless instance */
  --init-color-bg: #7e5ff81a;
  --init-color-sub: #7e5ff84d;

  --warn-color: #ffc359;
  --warn-color-bg: #ffc3591a;
  --warn-color-sub: #ffc3594d;

  /* background */
  --bg-0: #fff;
  --bg-1: #e8f2ff;
  --bg-2: #f6f8fa;
  --bg-3: #a1a7b2;
  --bg-4: #00000080;

  /* stroke color */
  --stroke-color-1: #dce2ea;
  --stroke-color-2: #e3e7ee;
  --stroke-color-3: #e9edf2;
  /* font size */
  --font-size-regular: 14px;
  --font-size-medium: 16px;
  --font-size-small: 12px;
  --font-size-h1: 44px;
  --line-height-h1: 58px;
  --font-size-h2: 36px;
  --line-height-h2: 44px;
  --font-size-h3: 28px;
  --line-height-h3: 36px;
  --font-size-h4: 24px;
  --line-height-h4: 32px;
  --font-size-h5: 18px;
  --line-height-h5: 26px;
  --font-size-h6: 16px;
  --line-height-h6: 24px;
  --line-height-body: 22px;
  --line-height-sub: 20px;
  /* font color */
  --font-color-title: #1c212a;
  --font-color-subtitle: #455069;
  --font-color-main: #8a909a;
  --font-color-sub: #a1a7b2;
  --font-color-sub2: #bdc2ca;
  --font-color-light: #fff;
  --font-color-dark: #11142d;
  --font-color-disabled: #bdc2ca;
  --font-color-hover: var(--primary-color-hover);
  /* font weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
  /* font letter spacing */
  --tracking-normal: 0px;
  --tracking-wide-little: 0.16px;
  --tracking-wide: 0.3px;
  --tracking-wider: 0.7px;
  --tracking-widest: 1px;

  --scrollbar-background: var(--gray-2);
  --scrollbar-thumb: var(--dark-7);

  /* legacy */
  --block-border-color: #47415e;
  --foreground-color: rgb(255, 255, 255);
  --background-second-bg: #f6f8fa;
  --font-color-highlight: #887eff;
  --font-color-link: #a69fff;
  --font-color-label: #bbbbbb;
  --second-font-color: var(--font-color-sub2);
  --font-color-success: var(--success-color);
  --font-color-error: var(--error-color);

  /* button */
  --button-primary-bg: var(--primary-color);
  --button-primary-hover-bg: var(--primary-color-hover);
  --button-primary-pressed-bg: var(--primary-color-active);
  --button-primary-font-color: var(--dark-1);
  --button-secondary-bg: var(--bg-1);
  --button-secondary-font-color: var(--primary-color);
  --button-secondary-hover-font-color: var(--primary-color-hover);
  --button-secondary-pressed-font-color: var(--primary-color-active);
  --button-disabed-bg: var(--disabled-color);
  --button-border-radius: 4px;

  /* select */
  --select-optionActiveBg: #e6f4ff;
  --select-optionSelectedColor: #000;

  /* form widgets */
  --widget-background-color-gpu: #ffffff;
  --widget-background-color: #ffffff;
  --widget-border-color: #dce2ea;
  --widget-border-active-color: rgb(169, 169, 169);
  --widget-bg-active-color: rgba(220, 226, 234, 0.7);
  --widget-border-radius: 4px;
  --widget-primary-color-gpu: rgb(12, 175, 96);
  --widget-primary-color: #2874ff;
  --widget-primary-color-hover-gpu: rgba(12, 175, 96, 0.3);
  --widget-primary-color-hover: #2874ff;
  --widget-placeholder-color-gpu: #676d77;
  --widget-placeholder-color: #676d77;
  --widget-font-color: var(--dark-1);
  --widget-font-disabled-color: rgba(0, 0, 0, 0.5);
  --widght-switch-hover-color: var(--bg-1);
  --tab-font-color: #bbbbbb;
  --tab-active-font-color: #ffffff;
  --dragger-wrap-bg-color: rgba(40, 116, 255, 0.5);
  --dragger-wrap-has-img-border-color: #dce2ea;
  --showcase-bg-color: #f4f6ff;
  --showcase-shadow-color: #f4f6ff;
  --gen-btn-disabled-bg-color: rgba(40, 116, 255, 0.5);
  --gen-disabled-btn-color: #fff;
  --playground-img-placeholder-bg-color: #fff;
  --playground-btn-text-color: var(--dark-1);
  --case-number-btn-bg-color: rgba(255, 255, 255, 0.6);

  --header-bg-color: #fff;
  --header-dropdown-bg: var(--dropdown-bg);
  --header-dropdown-bg-hover: var(--dropdown-hover-bg);
  --header-shadow: 0px 2px 6px 0px #19558c0d;
  --header-console-border: none;
  --header-mobile-menu-bg: #fff;
  --header-mobile-menu-backdrop: none;
  --header-menu-btn-bg: transparent;
  --header-menu-btn-shadow: none;
  --header-menu-btn-hover-bg: transparent;
  --header-console-nav-bg: var(--gray-3);

  /* footer color */
  --footer-bg-color: var(--gray-3);

  /* model-api main page */
  --model-api-main-bg1: #000;
  --model-api-main-bg2: #170e39;
  --model-api-main-bg3: #0e0d0f;
  --model-api-main-btn1-border-color: rgba(255, 255, 255, 0.1);
  --model-api-main-btn1-bg-color1: rgba(85, 71, 245, 0.8);
  --model-api-main-btn1-bg-color2: rgba(205, 193, 255, 0.8);
  --model-api-main-btn1-bg-color3: rgba(80, 42, 241, 0.8);
  --model-api-main-btn2-border-color: rgba(255, 255, 255, 0.1);
  --model-api-main-btn2-border-color2: rgba(164, 142, 255, 0.08);
  --model-api-main-btn2-bg-color1: rgba(255, 255, 255, 0.2);
  --model-api-main-btn2-bg-color2: rgba(255, 255, 255, 0.1);
  --model-api-main-btn2-bg-color3: rgba(89, 77, 217, 0.5);
  --model-api-main-btn2-bg-color4: rgba(87, 64, 215, 0.5);
  --model-api-main-tab-header-border-color: rgba(255, 255, 255, 0.1);
  --model-api-main-tab-header-bg-color1: rgba(255, 255, 255, 0.1);
  --model-api-main-tab-header-bg-color2: rgba(255, 255, 255, 0.05);
  --model-api-main-btn3-border-color: rgba(255, 255, 255, 0.2);
  --model-api-main-btn3-bg-color1: rgba(255, 255, 255, 0.5);
  --model-api-main-btn3-bg-color2: rgba(255, 255, 255, 0.05);
  --model-api-main-btn3-hover-bg-color1: rgba(255, 255, 255, 0.05);
  --model-api-main-btn3-hover-bg-color2: rgba(255, 255, 255, 0.01);
  --model-api-main-btn3-hover-border-color: rgba(255, 255, 255, 0.05);
  --model-api-main-btn3-bg-color3: rgba(81, 69, 205, 0.8);
  --model-api-main-btn3-bg-color4: rgba(107, 95, 208, 0.1);
  --model-api-main-featured-api-spotlight-color: rgba(104, 71, 245, 0.4);
  --model-api-main-featured-api-card-border-color: rgba(255, 255, 255, 0.07);
  --model-api-main-featured-api-card-bg-color: rgba(0, 0, 0, 0.1);
  --model-api-main-models-bg-color: #ffffff;
  --model-api-main-models-card-border-color: rgba(255, 255, 255, 0.07);
  --model-api-main-models-card-bg-color: rgba(0, 0, 0, 0.1);
  --model-api-main-models-card-bg-hover-color: rgba(89, 77, 207, 0.3);
  --model-api-main-models-spotlight-color: rgba(104, 71, 245, 0.5);

  /* model-api playground */
  --playground-foreground-color: #fcfcff;
  --playground-cover-btn-bg: rgb(21, 19, 29);
  --playground-border-color: rgba(255, 255, 255, 0.05);
  --playground-background-color: #fff;
  --playground-primary-button-background-color: linear-gradient(
    90deg,
    #610cff -3.82%,
    #2b22ff 100%
  );
  --playground-primary-button-border-color: #d7f7fa;

  /* model-api api catalogue */
  --model-api-catalogue-search-result-border-color: var(--border);
  --model-api-catalogue-item-bg: #fff;
  --model-api-catalogue-item-border: 1px solid #fff;
  --model-api-catalogue-item-border-hover: 1px solid #fff;
  --model-api-catalogue-item-shadow: 0px 2px 6px 0px #19558c0d;
  --model-api-catalogue-item-icon-bg: #f6f8fa;
  --model-api-catalogue-item-icon-bg-hover: var(--primary-color);
  --model-api-catalogue-item-icon-border: #e9edf2;
  --model-api-catalogue-item-icon-border-hover: var(--primary-color);
  --model-api-catalogue-item-icon-color: var(--dark-1);
  --model-api-catalogue-item-icon-color-hover: #fff;
  --model-api-catalogue-item-bg-product: #272f39;
  --model-api-catalogue-item-border-product: 1px solid #3e4854;
  --model-api-catalogue-item-right-icon-color: var(--primary-color);

  /* model-api llm page */
  --model-api-llm-model-item-bg-1: #fff;
  --model-api-llm-model-item-bg-2: #fff;
  --model-api-llm-model-item-border-color: var(--border);
  --model-api-llm-model-item-bg-hover-1: #fff;
  --model-api-llm-model-item-bg-hover-2: #fff;
  --model-api-llm-code-bg: var(--primary-color);
  --model-api-llm-code-editor-border-color: transparent;
  --model-api-llm-code-editor-head-bg: #4586ff;
  --model-api-llm-code-editor-body-bg: var(--gray-3);
  --model-api-llm-code-editor-btn-active-color: var(--primary-color);
  --model-api-llm-benefits-bg: #fff;
  --model-api-llm-benefits-box-bg: #fff;
  --model-api-llm-benefits-box-border-color: var(--border);
  --model-api-llm-benefits-item-bg: transparent;
  --model-api-llm-applist-bg: #fff;
  --model-api-llm-applist-border-color: var(--border);

  /* console page */
  --dashboard-bg: #fff;
  --dashboard-second-bg: #15131d;
  --dashboard-bg-gpu: #ffffff;
  --console-card-boder-color: #3e4560;
  --console-card-bg-color: #1f2431;
  --console-product-item-bg-color: #2a2f41;
  --console-product-item-hover-bg-color: #5547f5;
  --console-product-icon-ready-hover-bg-color: #fff;
  --console-product-icon-waiting-border-color: #3e4560;
  --console-billing-btn-bg-color: #5547f5;
  --console-billing-btn-hover-bg-color: #6c5fff;
  --console-divider-color: #e9edf2;
  --console-link-color: #2874ff;
  --console-waiting-icon-color: #d9d9d9;
  --console-model-api-nav-color: #fff;
  --console-model-api-nav-bg-color: #1f2431;
  --console-model-api-nav-item-bg-color: #2a2f41;
  --background-color-gpu: #1f2431;
  --console-nav-dropdown-title-bg: none;
  --console-nav-dropdown-title-color: var(--primary-color);
  --console-nav-dropdown-title-icon-color: var(--primary-color);

  /* settings page */
  --settings-card-border-color: #fff;
  --settings-card-bg-color: #fff;
  --settings-add-key-btn-color: var(--primary-color);
  --settings-password-icon-color: rgba(245, 245, 247, 0.6);
  --settings-change-password-btn-color: var(--primary-color);
  --settings-change-password-btn-border-color: var(--primary-color);
  --settings-input-bg-color: var(--white);

  /* billing module */
  --billing-primary-color: #006aff;
  --billing-bg: #f6f8fa;
  --billing-sub-bg: #fff;
  --billing-module-border-radius: 5px;
  --billing-main-padding: 30px;

  --billing-table-head-bg: #f6f8fa;
  --billing-table-color-title: #1c212a;
  --billing-table-color-body: #1c212a;
  --billing-table-head-font-weight: 600;
  --billing-table-head-border: 1px solid #edf1f5;
  --billing-table-body-border: 1px solid #edf1f5;

  --billing-nav-title-color: #676d77;
  --billing-nav-item-active-bg: #f6f8fa;
  --billing-nav-border-radius: 5px;
  --billing-nav-item-color: #11142d;
  --billing-nav-item-hover-color: #2874ff;
  --billing-nav-content-gap: 8px;
  --billing-nav-color: #2874ff;

  --billing-overview-box-color: #11142d;
  --billing-overview-box-color2: #1c212a;
  --billing-overview-box-color3: #676d77;
  --billing-overview-pay-border-radius: 4px;
  --billing-overview-pay-bg: #f5f6f7;
  --billing-overview-pay-active-border-color: #006aff;
  --billing-overview-pay-active-bg-color: #e8f2ff;
  --billing-overview-pay-method-border-color: #dce2ea;
  --billing-overview-input-border-color: #dce2ea;
  --billing-module-border-color-focus: #006aff;

  --billing-button-bg-color: #006aff;
  --billing-button-bg-hover-color: #73a5ff;
  --billing-button-disabled-bg-color: #e9edf2;
  --billing-button-border-radius: 4px;
  --billing-button-color: #fff;

  /* billing history */
  --billing-history-title-color: #1c212a;
  --billing-history-title-size: 18px;

  /* modal */
  --modal-bg: #fff;
  --modal-border-radius: 4px;
  --modal-border-color: #2d363e;
  --modal-icon-color: #a1a7b2;
  --modal-icon-hover-color: #676d77;
  --modal-mask-bg: rgba(0, 0, 0, 0.5);
  --modal-backdrop-filter: blur(4px);
  --modal-color-1: rgba(255, 255, 255, 1);
  --modal-color-2: rgba(255, 255, 255, 0.8);
  --modal-color-3: rgba(255, 255, 255, 0.6);
  --modal-color-4: rgba(255, 255, 255, 0.5);
  --modal-notice-border: #536677;
  --modal-notice-bg: linear-gradient(0deg, #364049 0%, #364049 100%),
    linear-gradient(90deg, #704dd4 0%, #483ae8 100%);
  --billing-payment-method-title-color: rgba(255, 255, 255, 0.6);
  --billing-payment-method-color-weak: rgba(255, 255, 255, 0.5);

  /* dropdown */
  --dropdown-bg: #fff;
  --dropdown-hover-bg: var(--gray-3);
  --dropdown-shadow: 0px 2px 12px 0px #0000001f;

  /* mainpage begin*/
  --mainpage-bg-color: #090516;
  --mainpage-first-title-color: linear-gradient(90deg, #7f47f5 0%, #0ff 66.17%);
  --mainpage-title-color: #1c212a;
  --mainpage-title-opacityColor: rgba(255, 255, 255, 0.7);
  --mainpage-banner-text-color: #fafafa;
  --mainpage-btn-bg-color: linear-gradient(
    183deg,
    rgba(90, 64, 255, 0.8) 2.85%,
    rgba(255, 255, 255, 0.8) 256.26%
  );
  --mainpage-btn-border: 1px solid rgba(255, 255, 255, 0.1);
  --mainpage-btn-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.2);
  --mainpage-btn-hover-bg-color: linear-gradient(
    183deg,
    rgba(64, 106, 255, 0.3) 2.85%,
    rgba(255, 255, 255, 0.3) 256.26%
  );
  --mainpage-btn-light-bg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --mainpage-btn-light-hover-bg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  --mainpage-second-card-border-color: rgba(164, 142, 255, 0.5);
  --mainpage-second-card-bg-color: #b3a2fd14;
  --mainpage-second-card-hover-bg-color: rgba(162, 182, 253, 0.2);
  --mainpage-third-color-title: linear-gradient(90deg, #5547f5 0%, #0ff 59.75%);
  --mainpage-third-color-title1: linear-gradient(
    90deg,
    #5250f6 0%,
    #01ffff 52.5%
  );
  --mainpage-third-border-bg-color: rgba(181, 201, 255, 0.1);
  --mainpage-third-code-card-bg-color: rgba(41, 46, 86, 0.7);
  --mainpage-third-code-card-border-color: rgba(255, 255, 255, 0.07);
  --mainpage-third-code-card-boxshadow: 0px 50px 100px 0px
      rgba(255, 255, 255, 0.15) inset,
    0px 5px 10px 0px rgba(0, 0, 0, 0.05), 0px 15px 30px 0px rgba(0, 0, 0, 0.05),
    0px 30px 60px 0px rgba(0, 0, 0, 0.1);
  --mainpage-third-code-card-dot-bg: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --mainpage-third-copy-btn-bg-color: rgba(255, 255, 255, 0.2);
  --mainpage-four-border-color: rgba(255, 255, 255, 0);
  --mainpage-four-boxshadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  --mainpage-footer-banner-darkbtn-bg-color: linear-gradient(
    0deg,
    #6fb8ed 5%,
    #4399fa 100%
  );
  --mainpage-footer-banner-btn-hover-bg-color: linear-gradient(
    0deg,
    rgba(138, 206, 255, 0.3) 5%,
    rgba(89, 161, 243, 0.3) 100%
  );
  --mainpage-code-mainColor: var(--dark-1);
  --mainpage-code-yellow1: #e09238;
  --mainpage-code-yellow2: #e09238;
  --mainpage-code-yellow3: #e09238;
  --mainpage-code-blue: #5c9f93;
  --mainpage-code-green: #20a792;
  --mainpage-code-purple: #a133e9;
  --mainpage-support-card1-bg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  --mainpage-banner-light-btn-bg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  --mainpage-banner-light-btn-hover-bg-color: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.15) 0%,
    rgba(255, 255, 255, 0.02) 100%
  );
  --mainpage-copy-btn-hover-bg-color: rgba(255, 255, 255, 0.1);
  /* mainpage end */

  /* gpu_instance pricing begin */
  --gpu-instance-pricing-card-bg-color: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  --gpu-instance-pricing-text-color: #ffffff;
  /* gou_instance pricing end */

  /* not-found page */
  --not-found-desc-text-color: #a0a2a7;

  /* model list page */
  --model-list-bg-color: #f6f8fa;
  --model-list-tag-item-bg-color: #fff;
  --model-list-tag-item-color: #000;
  --model-list-tag-item-hover-bg-color: var(--primary-color-hover);
  --model-list-tag-item-hover-color: #fff;
  --model-list-name-color: #fff;
  --model-list-model-item-tag-color: #2874ffb8;
  --model-list-model-filter-border-color: #dce2ea;
  --model-list-model-filter-color: #000;
  --model-list-model-filter-hover-color: #fff;

  --webkit-autofill-font-color: #000;

  /* gpu instance console for zh save temp */
  --gpu-instance-console-main-background-color: rgb(247, 248, 251);
  --gpu-instance-console-main-color: #000000;
  --gpu-instance-console-main-sub-color: rgba(0, 0, 0, 0.5);
  --gpu-instance-console-modal-background: #ffffff;
  --gpu-instance-console-close-background: #ffffff;
  --gpu-instance-console-modal-section-background-color: #ffffff;
  --gpu-instance-console-modal-section-color: #000000;
  --gpu-instance-console-modal-title-color: #11142d;
  --gpu-instance-console-modal-devider-color: #d9dbe9;
  --gpu-instance-console-modal-button-cancel-background-color: #ffffff;
  --gpu-instance-console-modal-button-cancel-border-color: #11142d;
  --gpu-instance-console-modal-button-confirm-background-color: #11142d;
  --gpu-instance-console-step-line-color: rgb(189, 189, 189);
  --gpu-instance-console-step-unactive-bkcolor: rgb(204, 204, 204);
  --gpu-instance-console-step-active-bkcolor: #2874ff;
  --gpu-instance-console-explore-backbtn-background: none;
  --gpu-instance-console-explore-backbtn-borderColor: rgba(17, 20, 45, 1);
  --gpu-instance-console-subbackground-color: rgb(255, 255, 255);
  --gpu-instance-console-subborder-color: rgb(220, 222, 235);
  --gpu-instance-console-explore-selectborder-color: rgb(25, 74, 251);
  --gpu-instance-console-explore-unselectborder-color: #d9dbe9;
  --gpu-instance-console-explore-selectbackground-color: rgb(243, 246, 255);
  --gpu-instance-console-explore-unselectbackground-color: #ffffff;
  --gpu-instance-console-explore-subbackgroundcolor: rgb(250, 251, 252);
  --gpu-instance-console-explore-item-backgroundcolor: rgb(255, 255, 255);
  --gpu-instance-console-explore-item-bordercolor: rgb(220, 222, 235);
  --gpu-instance-console-explore-item-selectbgcolor: rgb(247, 248, 251);
  --gpu-instance-console-explore-item-selectbdcolor: rgb(236, 237, 245);
  --gpu-instance-console-explore-item-selectcolor: rgb(32, 32, 33);
  --gpu-instance-console-explore-item-pricecolor: rgb(245, 63, 63);
  --gpu-instance-console-explore-stepThree-cost-color: #ffffff;
  --gpu-instance-console-explore-stepThree-cost-bdcolor: transparent;
  --gpu-instance-button-main-bgcolor: #2874ff;
  --gpu-instance-button-main-bdcolor: none;
  --gpu-instance-button-main-color: #ffffff;
  --gpu-instance-button-main-subbgcolor: rgb(255, 255, 255);
  --gpu-instance-button-main-subbdcolor: #2874ff;
  --gpu-instance-button-main-subcolor: #2874ff;
  --gpu-instance-console-explore-filter-bjcolor: #ffffff;
  --gpu-instance-console-explore-filter-bdcolor: #dcdeeb;
  --gpu-instance-console-explore-filter-item-bdcolor: #d9dbe9;
  --gpu-instance-segmente-bgcolor: #ffffff;
  --gpu-instance-segmente-color: #11142d;
  --gpu-instance-select-color: rgb(0, 0, 0);
  --gpu-instance-segmente-hover-bgcolor: #f5f5f5;
  --gpu-instance-segmente-select-bgcolor: var(--dark-7);
  --gpu-instance-segmente-bdcolor: #d9dbe9;
  --gpu-instance-explore-button-background-color: #2874ff;
  --gpu-instance-explore-button-text-color: #fff;
  --gpu-instance-submit-button-border-color: #2874ff;
  --gpu-instance-submit-button-text-color: #2874ff;
  --gpu-instance-icon-main-color: #000000;
  --gpu-instance-base-button-main-color: #2874ff;
  --gpu-instance-explore-subbgcolor: rgb(247, 247, 248);
  --gpu-instance-explore-subbdcolor: rgba(217, 219, 233, 0.6);
  --gpu-instance-explore-readme-subcolor: rgb(81, 79, 110);
  --gpu-instance-instances-pricrbgcolor: rgba(241, 242, 244, 0.6);
  --gpu-instance-instances-disabled-connect-button-bgcolor: #f6f8fa;
  --gpu-instance-blue-color: #2874ff;
  --gpu-instance-instances-logsbgcolor: rgb(255, 255, 255);
  --gpu-instance-instances-logsbdcolor: 1px solid #2874ff;
  --gpu-instance-instances-logscolor: #2874ff;
  --gpu-instance-storage-edit-cluster-sel-bdcolor: #2874ff;
  --gpu-instance-storage-edit-cluster-sel-color: var(--dark-3);
  --gpu-instance-mainblue-color: #2874ff;
  --gpu-instance-storage-datacenter-none-bgcolor: #f1f2f4;
  --gpu-instance-tab-select-bgcolor: var(--dark-7);
  --gpu-instance-table-bgcolor: transparent;
  --gpu-instance-table-header-bgcolor: rgb(247, 247, 248);
  --gpu-instance-table-body-bgcolor: transparent;
  --gpu-instance-select-menuItem-background-color: #ffffff;
  --gpu-instance-select-menuItem-color: #000000;
  --gpu-instance-select-menuItem-background-select-color: rgba(
    25,
    118,
    210,
    0.08
  );
  --gpu-instance-select-menuItem-background-hover-color: rgba(0, 0, 0, 0.04);
  --gpu-instance-select-menuItem-background-select-hover-color: rgba(
    25,
    118,
    210,
    0.08
  );
  --gpu-instance-select-border-color: #2874ff;
  --gpu-instance-console-datepicker-item-hover-bgcolor: #e8f2ff;

  --model-console-main-color: #000000;

  --gpu-instance-table-spliter-color1: #ffffff;
  --gpu-instance-table-spliter-color2: rgba(217, 219, 233, 0.6);

  /* console page */
  --dashboard-bg: #0e0c15;
  --dashboard-second-bg: #15131d;
  --dashboard-bg-gpu: #ffffff;
  --console-product-icon-ready-bg-color: #2874ff;
  --console-product-icon-ready-hover-bg-color: #fff;
  --console-product-icon-waiting-border-color: #dce2ea;
  --console-billing-btn-bg-color: #5547f5;
  --console-billing-btn-hover-bg-color: #6c5fff;
  --console-divider-color: #e9edf2;
  --console-link-color: #2874ff;
  --console-waiting-icon-color: #d9d9d9;
  --console-model-api-nav-color: #fff;
  --console-model-api-nav-bg-color: #1f2431;
  --console-model-api-nav-item-bg-color: #2a2f41;
  --background-color-gpu: #ffffff;

  /* console and model api console for zh save temp */
  --console-background-color: var(---color-03, #f6f8fa);
  --console-title-color: var(----color-01, #1c212a);
  --console-product-item-bg-color: var(---color-03, #f6f8fa);
  --console-product-item-title-color: var(----color-01, #1c212a);
  --console-product-item-titlesub-color: var(----color-02, #455069);
  --console-product-item-titlesubsub-color: var(----color-03, #8a909a);
  --console-product-item-hover-bg-color: var(---Blue-, #2874ff);
  --console-product-item-title-hover-color: #ffffff;
  --console-product-item-titlesub-hover-color: #ffffff;
  --console-card-boder-color: none;
  --console-card-bg-color: #fff;
  --console-card-title-color: var(----color-01, #1c212a);
  --console-model-api-box-bgcolor: #fff;
  --console-model-api-box-bdcolor: none;
  --console-model-api-wrapper-bgcolor: var(----color-06, #fff);
  --console-model-api-wrapper-bdcolor: none;
  --console-model-api-wrapper-p1color: var(----color-02, #455069);
  --console-model-api-wrapper-p2color: var(----color-01, #1c212a);
  --console-model-api-wrapper-splitorcolor: var(---color-01, #dce2ea);
  --console-model-api-uploadmodel-alertbgcolor: var(--Yellow-yellow-1, #fffaf2);
  --console-model-api-uploadmodel-alertbdcolor: var(--Yellow-yellow-2, #ffe8bf);
  --console-model-api-uploadmodel-alerttitle-color: var(----color-01, #1c212a);
  --console-model-api-uploadmodel-alertdesc-color: var(----color-03, #8a909a);
  --console-model-api-uploadmodel-table-bdcolor: none;

  --console-model-api-uploadmodel-table-header-bgcolor: var(
    ---color-03,
    #f6f8fa
  );
  --console-model-api-uploadmodel-table-header-color: var(
    ----color-01,
    #1c212a
  );
  --console-model-api-uploadmodel-table-body-bgcolor: #ffffff;

  --console-main-background-color: #f4f7fa;
  --model-console-dropbackground-color: #f6f8fa;
  --model-console-switch-unselect-bgcolor: #eeeeee;
  --model-console-switch-selected-bgcolor: rgb(98, 154, 255);

  --model-console-btn-hover-background-color: #73a5ff;

  --console-model-api-uploadmodel-table-header-bgcolor: var(
    ---color-03,
    #f6f8fa
  );
  --console-model-api-uploadmodel-table-header-color: var(
    ----color-01,
    #1c212a
  );
  --console-model-api-uploadmodel-table-body-bgcolor: #ffffff;

  --console-main-background-color: #f4f7fa;

  /* GPU mainpage for zh save temp */
  --gpu-mainpage-background-color: #ffffff;
  --gpu-mainpage-firstpage-maincolor: var(---Blue-, #2874ff);
  --gpu-mainpage-firstpage-subcolor: var(----color-01, #1c212a);
  --gpu-mainpage-firstpage-desccolor: var(----color-02, #455069);

  --GPU-mainpage-title-maincolor: var(----color-01, #1c212a);
  --GPU-mainpage-title-subcolor: var(----color-02, #455069);
  --GPU-mainpage-title-subsubcolor: var(----color-03, #8a909a);

  --console-subtitle-weight: 400;
  --console-nav-title-color: rgb(128, 129, 145);
  --console-nav-normal-menu-color: #514f6e;
  --console-nav-hover-bgcolor: #f6f8fa;
  --console-nav-selected-bgcolor: #f6f8fa;
  --console-nav-selected-color: #2874ff;
  --console-model-api-uploadmodel-table-body-color: rgba(28, 33, 42, 0.8);
  --console-model-api-uploadmodel-table-delete-color: #ff0000;

  --console-main-bar-background-color: #2874ff;
  --console-main-billing-tip-color: #fff;
  --console-notReadyicon-center-color: #455069;
  --gpu-instance-blue-color: #2874ff;
  --gpu-instance-blue-background-color: #2874ff;
  --gpu-instance-serverless-gpucard-common-color: #455069;
  --gpu-instance-serverless-gpucard-originprice-color: #8a909a;

  /* serverless console */
  --console-serverless-endpoint-foreground-color: #fff;
  --console-serverless-state-color-succ: var(--success-color);
  --console-serverless-state-color-fail: var(--error-color);
  --console-serverless-state-color-init: var(--init-color);
  --console-serverless-state-color-starting: var(--primary-color);
  --console-serverless-state-color-terminating: var(--warn-color);
  --console-serverless-btn-bg: #edf1f7;
  --console-serverless-worker-nav-active-bg: var(--success-color-bg);
  --console-serverless-worker-nav-active-color: var(--success-color);
  --console-serverless-worker-nav-unhealthy-bg: #ffe6e6;
  --console-serverless-worker-nav-unhealthy-color: var(--error-color);
  --console-serverless-modal-bg: #ffffff;
  --console-serverless-modal-header-bg: #ffffff;
  --console-serverless-modal-footer-bg: #ffffff;
  --console-serverless-form-block-bg: var(--gray-3);
  --console-serverless-del-cancel-btn-border: #bdc2ca;
  --console-serverless-del-cancel-btn-color: #455069;
  --console-serverless-input-bg: #ffffff;
  --console-serverless-select-active-bg: var(--select-optionActiveBg);

  /* serverless mainpage */
  --serverless-mainpage-background-color: #ffffff;
  --serverless-mainpage-price-background-color: #f7f7f7;
  --serverless-mainpage-price-table-odd-background-color: #ffffff;
  --serverless-mainpage-price-table-even-background-color: #f6f8fa;

  @media screen and (max-width: 600px) {
    --h1-font-size: 34px;
    --h1-line-height: 42px;
    --h1-font-weight: 600;
    --h1-letter-spacing: 0;
    --h2-font-size: 34px;
    --h2-line-height: 42px;
    --h2-font-weight: 600;
    --h2-letter-spacing: 0;
    --h3-font-size: 34px;
    --h3-line-height: 42px;
    --h3-font-weight: 600;
    --h3-letter-spacing: 0;
  }
}

/* antd step css */
.user-module-step
  .ant-steps-item-finish
  .ant-steps-item-container
  .ant-steps-item-icon {
  background-color: #e6f4ff;
  border-color: #e6f4ff;
}

.user-module-form .ant-form-item .ant-form-item-explain-error {
  margin-top: 1px;
  font-size: 12px;
  margin-bottom: 12px;
  color: var(--error-color);
}

.user-module-form .ant-form-item-control-input-content .ant-input-status-error {
  border-color: var(--error-color) !important;
}

.console-model-upload-form .ant-form-item .ant-form-item-explain-error {
  color: var(--error-color) !important;
}

.console-model-upload-form .ant-input.ant-input-status-error {
  border-color: var(--error-color) !important;
}

.console-model-upload-form .ant-select-status-error .ant-select-selector {
  border: 1px solid var(--error-color) !important;
}

.ant-otp .ant-input.user-module-input {
  width: 40px;
  height: 40px;
}

.user-module-input.ant-input-status-error {
  border-color: var(--error-color) !important;
}

.billing-module-select.ant-select-focused .ant-select-selector {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}

// .console-model-upload-select.ant-select-focused .ant-select-selector {
//   box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
// }

.ant-select-dropdown
  .ant-select-item-option-active
  .ant-select-item-option-content {
  color: var(--select-optionSelectedColor) !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected
  .ant-select-item-option-content {
  color: var(--select-optionSelectedColor) !important;
}
