html {
  --font-family: -apple-system, "PingFang SC", "Microsoft YaHei", "微软雅黑",
    "Helvetica Neue", Helvetica, Arial, sans-serif;

  --brand-0: #2874ff;
  --brand-1: #2167e8;
  --brand-3: #699eff;
  --brand-4: #93b9ff;
  --brand-5: #d4e3ff;
  --brand-6: #e9f1ff;
  --brand-7: #f4f8ff;

  --default-font-color: var(--dark-1);

  --h1-font-size: 44px;
  --h1-line-height: 58px;
  --h1-font-weight: 600;
  --h1-letter-spacing: 0;

  --small-padding: 20px;
  --large-padding: 20px;

  --h2-font-size: 36px;
  --h2-line-height: 44px;
  --h2-font-weight: 600;
  --h2-letter-spacing: 0;

  --h3-font-size: 28px;
  --h3-line-height: 36px;
  --h3-font-weight: 600;
  --h3-letter-spacing: 0;

  --h4-font-size: 24px;
  --h4-line-height: 32px;
  --h4-font-weight: 600;
  --h4-letter-spacing: 0;

  --h5-font-size: 18px;
  --h5-line-height: 26px;
  --h5-font-weight: 600;
  --h5-letter-spacing: 0;

  --h6-font-size: 16px;
  --h6-line-height: 24px;
  --h6-font-weight: 600;
  --h6-letter-spacing: 0;

  --lead-font-size: 20px;
  --lead-line-height: 28px;
  --lead-font-weight: 400;
  --lead-letter-spacing: 0;

  --large-font-size: 18px;
  --large-line-height: 24px;
  --large-font-weight: 600;
  --large-letter-spacing: 0;

  --p-font-size: 16px;
  --p-line-height: 24px;
  --p-font-weight: 400;
  --p-letter-spacing: 0;

  --p-medium-font-size: 16px;
  --p-medium-line-height: 24px;
  --p-medium-font-weight: 500;
  --p-medium-letter-spacing: 0;

  --list-font-size: 14px;
  --list-line-height: 24px;
  --list-font-weight: 400;
  --list-letter-spacing: 0;

  --table-head-font-size: 12px;
  --table-head-line-height: 18px;
  --table-head-font-weight: 600;
  --table-head-letter-spacing: 0;

  --table-item-font-size: 12px;
  --table-item-line-height: 18px;
  --table-item-font-weight: 400;
  --table-item-letter-spacing: 0;

  --blockquote-font-size: 14px;
  --blockquote-line-height: 24px;
  --blockquote-font-weight: 400;
  --blockquote-letter-spacing: 0;

  --small-color: var(--dark-5);
  --small-font-size: 12px;
  --small-line-height: 20px;
  --small-font-weight: 400;
  --small-letter-spacing: 0;

  --small-medium-font-size: 12px;
  --small-medium-line-height: 20px;
  --small-medium-font-weight: 500;
  --small-medium-letter-spacing: 0;

  --subtle-font-size: 14px;
  --subtle-line-height: 20px;
  --subtle-font-weight: 400;
  --subtle-letter-spacing: 0;

  --subtle-medium-font-size: 14px;
  --subtle-medium-line-height: 20px;
  --subtle-medium-font-weight: 500;
  --subtle-medium-letter-spacing: 0;

  --subtle-semibold-font-size: 14px;
  --subtle-semibold-line-height: 20px;
  --subtle-semibold-font-weight: 600;
  --subtle-semibold-letter-spacing: 0;

  --link-font-size: 14px;
  --link-line-height: 20px;
  --link-font-weight: 400;
  --link-letter-spacing: 0;

  /* main color */
  --primary-color: #2874ff;
  --primary-sub-color: rgba(40, 116, 255, 0.6);
  --primary-color-active: #2167e8;
  --primary-color-hover: #73a5ff;
  --disabled-color: #e9edf2;
  /* status color */
  --success-color: #1fcc75;
  --success-color-bg: #1fcc751a;
  --success-color-sub: #1fcc754d;

  --error-color: #ff5959;
  --error-color-bg: #ff59591a;
  --error-color-sub: #ff59594d;

  --inactive-color: #a1a7b2;
  --inactive-color-bg: #a1a7b21a;
  --inactive-color-sub: #a1a7b24d;

  --init-color: #7e5ff8; /* for GPU/Serverless instance */
  --init-color-bg: #7e5ff81a;
  --init-color-sub: #7e5ff84d;

  --warn-color: #ffc359;
  --warn-color-bg: #ffc3591a;
  --warn-color-sub: #ffc3594d;

  /* background */
  --bg-0: #fff;
  --bg-1: #e8f2ff;
  --bg-2: #f6f8fa;
  --bg-3: #a1a7b2;
  --bg-4: #00000080;

  /* stroke color */
  --stroke-color-1: #dce2ea;
  --stroke-color-2: #e3e7ee;
  --stroke-color-3: #e9edf2;
  /* font size */
  --font-size-regular: 14px;
  --font-size-medium: 16px;
  --font-size-small: 12px;
  --font-size-h1: 44px;
  --line-height-h1: 58px;
  --font-size-h2: 36px;
  --line-height-h2: 44px;
  --font-size-h3: 28px;
  --line-height-h3: 36px;
  --font-size-h4: 24px;
  --line-height-h4: 32px;
  --font-size-h5: 18px;
  --line-height-h5: 26px;
  --font-size-h6: 16px;
  --line-height-h6: 24px;
  --line-height-body: 22px;
  --line-height-sub: 20px;
  /* font color */
  --font-color-title: #1c212a;
  --font-color-subtitle: #455069;
  --font-color-main: #8a909a;
  --font-color-sub: #a1a7b2;
  --font-color-sub2: #bdc2ca;
  --font-color-light: #fff;
  --font-color-dark: #11142d;
  --font-color-disabled: #bdc2ca;
  --font-color-hover: var(--primary-color-hover);
  /* font weight */
  --font-thin: 100;
  --font-extralight: 200;
  --font-light: 300;
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
  /* font letter spacing */
  --tracking-normal: 0px;
  --tracking-wide-little: 0.16px;
  --tracking-wide: 0.3px;
  --tracking-wider: 0.7px;
  --tracking-widest: 1px;

  --scrollbar-background: var(--gray-2);
  --scrollbar-thumb: var(--dark-7);

  /* legacy */
  --block-border-color: #47415e;
  --foreground-color: rgb(255, 255, 255);
  --background-second-bg: #f6f8fa;
  --font-color-highlight: #887eff;
  --font-color-link: #a69fff;
  --font-color-label: #bbbbbb;
  --second-font-color: var(--font-color-sub2);
  --font-color-success: var(--success-color);
  --font-color-error: var(--error-color);

  /* button */
  --button-primary-bg: var(--primary-color);
  --button-primary-hover-bg: var(--primary-color-hover);
  --button-primary-pressed-bg: var(--primary-color-active);
  --button-primary-font-color: var(--dark-1);
  --button-secondary-bg: var(--bg-1);
  --button-secondary-font-color: var(--primary-color);
  --button-secondary-hover-font-color: var(--primary-color-hover);
  --button-secondary-pressed-font-color: var(--primary-color-active);
  --button-disabed-bg: var(--disabled-color);
  --button-border-radius: 4px;

  @media screen and (max-width: 600px) {
    --h1-font-size: 34px;
    --h1-line-height: 42px;
    --h1-font-weight: 600;
    --h1-letter-spacing: 0;
    --h2-font-size: 34px;
    --h2-line-height: 42px;
    --h2-font-weight: 600;
    --h2-letter-spacing: 0;
    --h3-font-size: 34px;
    --h3-line-height: 42px;
    --h3-font-weight: 600;
    --h3-letter-spacing: 0;
  }
}

/* antd step css */
.user-module-step
  .ant-steps-item-finish
  .ant-steps-item-container
  .ant-steps-item-icon {
  background-color: #e6f4ff;
  border-color: #e6f4ff;
}

.user-module-form .ant-form-item .ant-form-item-explain-error {
  margin-top: 1px;
  font-size: 12px;
  margin-bottom: 12px;
  color: var(--error-color);
}

.user-module-form .ant-form-item-control-input-content .ant-input-status-error {
  border-color: var(--error-color) !important;
}

.console-model-upload-form .ant-form-item .ant-form-item-explain-error {
  color: var(--error-color) !important;
}

.console-model-upload-form .ant-input.ant-input-status-error {
  border-color: var(--error-color) !important;
}

.console-model-upload-form .ant-select-status-error .ant-select-selector {
  border: 1px solid var(--error-color) !important;
}

.ant-otp .ant-input.user-module-input {
  width: 40px;
  height: 40px;
}

.user-module-input.ant-input-status-error {
  border-color: var(--error-color) !important;
}

.billing-module-select.ant-select-focused .ant-select-selector {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1) !important;
}

// .console-model-upload-select.ant-select-focused .ant-select-selector {
//   box-shadow: 0 0 0 2px rgba(5, 145, 255, 0.1) !important;
// }

.ant-select-dropdown
  .ant-select-item-option-active
  .ant-select-item-option-content {
  color: var(--select-optionSelectedColor) !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected
  .ant-select-item-option-content {
  color: var(--select-optionSelectedColor) !important;
}
